* {
  box-sizing: border-box;
}

@font-face {
  font-family: "DaysOne";
  src: url(../fonts/Roboto/DaysOne-Regular.ttf);
  font-style: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* хедер -------------------------- */

.header_left {
  margin-left: 558px;
  }

.list {

  background-color: #dce9eb;
  color: black; 
  padding: 15px 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 14px 14px 14px 14px;
  border: 1px solid black;
  text-decoration: none;
  font-weight: 400;
  line-height: 135%;
  display: flex;
  justify-content: center;
  text-decoration: none;

}

.list_for_navigation {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 59px;
  text-decoration: none;
}

.navigation_left {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.navigation_item {
  color: black;
  text-decoration: none;
  font-size: 14px;
  display: block;
  scroll-behavior: smooth;
}

.navigation__item {
  margin-right: 9px;

}

.horizont {
  display: flex;
}

.container {
  align-items: center;
  padding: 0;
  display: flex;
}

.logo {
  width: 74px;
  height: 67px;
  min-width: 50px;
  min-height: 50px;
}

.stroke_name {
  font-size: 32px;
  margin-left: 57px;
  padding-right: 50px;

  justify-content: center;
  color: white;
  text-decoration: none;
}

.verx {
  width: 100%;
  height: 92px;
  border-bottom: 1px solid #000;
  background: #C53333;
}

.header__container {
  justify-content: space-between;
  padding: 0 55px;
}

/* части сайта -------------------------- */

body {
  width: 100%;
  background:#5A5955;
  color: white;
  text-align: center;
  font-family: "DaysOne";
  margin: 0;
}

header {
  width: 100%;
  height: 92px;
  border-bottom: 1px solid #000;
  background: #C53333;
}



footer {
  width: 100%;
  background:#C53333;
  color: white;
  text-align: center;
  font-family: "DaysOne";
  margin: 0;
}

/* заголовки секций -------------------------- */

.part_section {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #000;
  background: #C53333;
}
 /* отступ от краев */
section {
  display: block;
  padding: 118px;
  padding-right:  58px;
}






/* 1 секция -------------------------- */

.word_with_button {
  align-items: center;
  text-align: center;
}

.word_with_picture {
  font-size: 32px;
  margin-left: 57px;
  padding-right: 50px;
}

.button:hover {
  background-color: #a42c2c;
}

.button {
  background-color: #C53333;
  border: none;
  border-radius: 14px;
  color: white; 
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  margin: 0px; 
  cursor: pointer;
  text-decoration: none;
  display:inline-block;
  transition: 3%;
}

.first_part {
  align-content: center;
}

.second_part {

}

/* большая картинка -------------------------- */

.cartoon {
  width: 50%;
  display: flex;
  margin-left: 100px;
  }
  
  .pic {
    max-width: 887px;
    max-height: 499px;
    margin-right: 58px;
    }

  .klip {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }

/* 2 секция -------------------------- */

.album {
  
    display: block;
    padding: 0px;
  }

  .merch_album {
    display: flex;
    align: center;
    justify-content: center;
    align-items: center;

  }

  .stroke_album {
    font-size: 32px;
    padding-left: 60px;
    text-align: left;
    align-items: center;
    
    }

    .for_button1 {
      display: block;
      padding: 118px;
      padding-right:  58px;
      margin-right: 75px;
      text-align: center;
      justify-content: center;
      align-items: center;

    }

    .pic_album:hover {
      transform: scale(1.5);
    }
  
    .pic_album {
      width: 200px;
      height: 200px;
      background-size: cover;
      margin: auto;
      margin-bottom: 30px;
      transition: 0.7s;
  
    }

  .sale1:hover {
    transform: scale(1.5);
  }

  .sale1 {
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: auto;
    transition: 0.7s;
    justify-content: center;
    align-items: center;
  }
  
  

    .twelve {
      background-image: url(../img/ALBUM\ 3.jpg);
    }
    
    .eyes {
      background-image: url(../img/ALBUM\ 2.jpg);
    }
    
    .face {
      background-image: url(../img/ALBUM\ 1.jpg);
    }



    

/* 3 секция -------------------------- */

  .merch {
      display: block;
      padding: 0px;
    }
  
    .stroke_merch {
      font-size: 32px;
      padding-left: 60px;
      text-align: left;
      align-items: center;
      }

      .for_button2 {
        display: block;
      padding-right:  58px;
      margin-right: 75px;
      text-align: center;
      justify-content: center;
      align-items: center;
        padding: 0
  
      }


  .merch_stuff {
    display: flex;
      padding: 118px;
  
  
  }

  .sale2:hover {
    transform: scale(1.5);
  }

  .sale2 {
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: auto;
    margin-bottom: 30px;
    transition: 0.7s;
  }
 
  .pic_merch:hover {
    transform: scale(1.5);
  }

  .pic_merch {
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: auto;
    margin-bottom: 30px;
    transition: 0.7s;

  }

  .casset {
    background-image: url(../img/MERCH\ 1.jpg);
  }
  
  .hoodie {
    background-image: url(../img/MERCH\ 2.jpg);
  }
  
  .vinyl {
    background-image: url(../img/MERCH\ 3.jpg);
  }
  
  .mask {
    background-image: url(../img/MERCH\ 4.jpg);
  }
  
/* 4 секция -------------------------- */



.big_end {
  display: flex;
  align: left;
  justify-content: left;
  align-items: left;
}

.social_media1 {
  display: block;
  padding: 118px;
  padding-right:  58px;
  margin-right: 75px;
  text-align: left;
  justify-content: left;
  align-items: left;
}

.social_media2 {
  display: block;
  padding: 118px;
  padding-right:  58px;
  margin-right: 75px;
  text-align: left;
  justify-content: left;
  align-items: left;
}

.end_title { 
  font-size: 40px;
  text-align: left;
  align-items: left;

}

.social_media_item {
  font-size: 32px;
  margin-left: 57px;
  padding-right: 50px;
}


.social_media_list {

  
}

.social_media_link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  align-items: left;
  display: block;
  scroll-behavior: smooth;
}




















