* {
  box-sizing: border-box;
}

@font-face {
  font-family: "DaysOne";
  src: url(../fonts/Roboto/DaysOne-Regular.ttf);
  font-style: normal;
  font-style: normal;
}

.navigation__item {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 135%;
  text-decoration: none;
  background-color: rgb(221, 233, 235);
  padding: 10px;
  border-radius: 14px 14px 14px 14px;
  border: 1px solid black;
}

.space-between {
  justify-content: space-between;
}

.horizont {
  display: flex;
  align-items: center;
  text-align: left;
}

.horizontal {
  display: flex;
  align-items: center;
}

.navigation__left .navigation__item:not(:last-child) {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1440px;
}

.part_section {
  width: 100%;
  height: 40pt;
  border-bottom: 1px solid #000;
  background: #C53333;
}

body {
  width: 100%;
  background:#5A5955;
  color: white;
  text-align: center;
  font-family: "DaysOne";
  margin: 0;
}

header {
  width: 100%;
  height: 40pt;
  border-bottom: 1px solid #000;
  background: #C53333;
}

.word_with_button {
  margin-right: calc(60px - 20px);
}

.button {
  background-color: #C53333;
  border: none;
  border-radius: 14px;
  color: white; 
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  margin: 5px; 
  cursor: pointer;

}

.button:hover {
  background-color: #a42c2c;
}


.cartoon {
width: 50%;
display: flex;

}

.pic {
max-width: 100%;
}

.klip {
 display: ;
 align-items: center
}

.album {
  margin-bottom: 1440px;
}

.first_part {
  align-items: center
}

footer {
  width: 100%;
  background:#C53333;
  color: white;
  text-align: center;
  font-family: "DaysOne";
  margin: 0;
}

.logo {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
}

.head_content {
  background: #C53333;
  width: 100%;
  height: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.section_content {
  background: #C53333;
  width: 100%;
  height: 40px;
  margin-left: 25px;
  margin-right: 25px;
}



